{% load static %}

<header class="header-section">
    <img src={% static 'images/Trollface.png' %} alt="">
    <h1 class="site-title">tROLL tRIVIA</h1>
    <p class="sub-title">Trivia your friends, but be careful with troll answers</p>

        <div class="btn-container">
            <img class="svg-icon" src={% static 'images/ArrowSVG.svg' %} alt="">
            <img class="hidden svg-icon emoji-svg emoji-1" src={% static 'images/Emoji1.svg' %} alt="">
            <img class="hidden svg-icon emoji-svg emoji-2" src={% static 'images/Emoji2.svg' %} alt="">
            <img class="hidden svg-icon emoji-svg emoji-3" src={% static 'images/Emoji3.svg' %} alt="">
        </div>
</header>