{% extends 'trivia/_base.html' %}
{% block head_content %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/home.css' %}>
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.play-btn').addEventListener('click', () => {
                const generatedCode = 123
                window.location.href = `http://localhost:8000/play?room=${generatedCode}&question=0`
            });
            document.querySelector('.join-btn').addEventListener('click', () => {
                const generatedCode = prompt('Enter the room ID please!')
                window.location.href = `http://localhost:8000/play?room=${generatedCode}&question=0`
            });
        });

    </script>
{% endblock %}
{% block page_content %}
    <section class="home-page">
        <img class="home-icon" src={% static 'images/Question.svg' %} alt="">
        <h2 class="site-title">How to play</h2>
        <p class="sub-title">Answer the questions and troll your opponent. </p>
            <ul class="sub-title">
                <li>
                    End of quiz!
                </li>

            </ul>

    </section>

{% endblock %}